<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>exmg-paper-card test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>
    <script src="../../test-fixture/test-fixture-mocha.js"></script>

    <link rel="import" href="../../test-fixture/test-fixture.html">
    <link rel="import" href="../exmg-paper-card.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <exmg-paper-card></exmg-paper-card>
      </template>
    </test-fixture>

    <script>
      suite('exmg-paper-card', function() {
        let el;
        setup(function() {
          el = fixture('basic');
        });
        test('element is upgraded', function() {
          assert.equal(el.constructor.is, 'exmg-paper-card');
        });
      });
    </script>

  </body>
</html>
